@import "reset.styl"

*
  box-sizing border-box

body
  background url('https://www.privat24.ua/img/bg.png')
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size 14px

ul
  padding 5px

li
  list-style-type none

.router
  width 100%
  display flex
  justify-content space-around
  align-items center
  height: 40px
  background-color #2aa81c
  box-shadow 0 2px 2px rgba(0,0,0,0.2)

  &__links
    font-family "Source Code Pro", Monaco, monospace
    text-transform uppercase
    text-decoration none
    color #eee

    &.router-link-exact-active
      position relative

      &:after
        content ""
        position absolute
        bottom 0
        left 0
        right 0
        height 1px
        background-color white

.wrapper
  width 100%
  display flex
  justify-content space-around
  flex-wrap wrap

.box
  background-color #F5F5F5
  border 1px solid #b8b8b8
  border-radius 3px
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset

  margin 10px

  &__header
    background-color #DBDBDB
    padding 10px

  &__body
    padding 10px

  &--router
    width 100%

  &--application
    flex-grow 1

  &--flexed
    display flex
    justify-content space-between
    flex-wrap wrap

  &--half-size
    width 25%

  &--full-width
    width 100%

  &--min-height
    min-height 200px


.control
  margin 10px

.btn
  margin 5px
  padding 5px
  color white
  background-color green
  border 1px solid black
  border-bottom 2px solid black
  border-radius 4px
  cursor pointer
  transition all .2s ease

  &:hover
    background-color #009000

  &:active
    background-color #007000
    border-bottom 1px solid black

.input
  margin 5px
  padding 5px
  width 100%

.flex
  display flex

