<template>
  <div class="box box--application box--min-height">
    <div class="box__header">Выгруженные данные с API (для отладки):</div>
    <div class="box__body">

        <div v-if="$store.state.currencies.length === 0">Подождите...</div>
        <div class="box--flexed" v-for="currency in $store.state.currencies">
          <div class="box--half-size">
            Базовая валюта: {{ currency.base_ccy }}
          </div>
          <div class="box--half-size">
            Конверсия в: {{ currency.ccy }}
          </div>
          <div class="box--half-size">
           Покупка: {{ currency.buy }}
          </div>
          <div class="box--half-size">
            Продажа: {{ currency.sale }}
          </div>
          <hr class="box--full-width">
        </div>
    </div>
  </div>
</template>
