<template>
  <div class="box box--router">
    <div class="box__header">Выберите необходимую валюту из списка ниже:</div>
    <div class="box__body">
      <div v-if="picked.length !== 0">Коверсия валюты по курсу: {{ picked }}</div>
      <div v-else>Пункт не выбран</div>
      <ul>
        <li v-for="items in currencies">
        <span>
          <input title="sample" :value="items.buy" type="radio" v-model="picked">
        </span>
          <span>
          {{ items.base_ccy }} -> {{ items.ccy }}
        </span>
        </li>
      </ul>
      <div>
        <button class="btn" @click="convert">Совершить обмен</button>
        <button class="btn" @click="abortAndReturn">Отменить и вернуться</button>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'

  export default {
    data() {
      return {
        picked: this.$cookie.get('currency') || ''
      }
    },

    watch: {
      picked(val) {
        this.$cookie.set('currency', val)
      }
    },

    methods: {
      convert() {
        let pickedObject = this.currencies.find(item => item.buy === this.picked)
        pickedObject.result_ccy = Number(this.availableMoney) / Number(this.picked)
        pickedObject.source_ccy = this.availableMoney
        this.$store.commit('addToHistory', pickedObject)
        this.$router.push('/result')
      },

      abortAndReturn() {
        this.$store.commit('pushData', {field: 'availableMoney', payload: ''})
        this.$router.push('/input')
      }
    },

    computed: {
      ...mapState([
        'availableMoney',
        'currencies'
      ]),
      ...mapGetters([
        'currencyList'
      ])
    }
  }
</script>
