<template>
  <div class="box box--router">
    <div class="box__header">
      Введите сумму, которую хотите сконвертировать
    </div>
    <div class="box__body box--flexed">
      <div v-if="isInputBlank">Поле не заполнено</div>
      <div v-else> Вы ввели: {{ money }}</div>
      <input class="input" title="sample" type="text" v-model="money">
      <button class="btn" @click="commitAndContinue">Посчитать</button>
      <button class="btn" @click="clear">Очистить</button>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    data() {
      return {
        money: this.availableMoney || ''
      }
    },

    methods: {
      clear() {
        this.money = ''
      },

      commitAndContinue() {
        this.$store.commit('pushData', { field: 'availableMoney', payload: this.money })
        this.$router.push('/currency')
      }
    },

    computed: {
      ...mapState(['availableMoney']),
      isInputBlank() {
        return this.money === ''
      }
    }
  }
</script>
