<template>
  <div class="box box--router">
    <div v-if="history.length === 0">
      <div class="box__header">
        Нет результатов
      </div>
    </div>
    <div v-else>
      <div class="box__header">
        Результаты конвертации:
      </div>
      <div class="box__body">
        <div>Введено: {{ latestResult.source_ccy }} {{ latestResult.base_ccy }}</div>
        <div>Получено: {{ SYMBOLS[latestResult.ccy] }} {{ latestResult.result_ccy }}</div>
      </div>
    </div>
    <div>
      <button class="btn" @click="$router.push('/')">Вернуться в начало</button>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    computed: {
      ...mapState(['history', 'SYMBOLS']),

      latestResult() {
        return this.history[this.history.length - 1]
      }
    }
  }
</script>
