<template>
  <div class="box box--router">
    <div class="box__header">
      Добро пожаловаться! Попробуй <router-link to="/input">ввести что-то</router-link>... и ограбить банк
    </div>
  </div>
</template>
