<template>
  <div id="app">
    <div class="router">
      <router-link to="/" class="router__links">Домашняя</router-link>
      <router-link to="/input" class="router__links">Ввод средств</router-link>
      <router-link to="/currency" class="router__links">Обмен</router-link>
      <router-link to="/result"class="router__links">Результаты</router-link>
    </div>
    <div class="wrapper">
      <router-view></router-view>
      <div class="box box--application">
        <div class="box__header">
          История операций:
        </div>
        <div class="box__body">
          <ul>
            <li v-if="history.length === 0">
              Нет транзакций
            </li>
            <li v-else v-for="item in history">
              <div>
                Введено: {{ item.source_ccy }} {{ item.base_ccy }}
              </div>
              <div>
                Получено: {{ SYMBOLS[item.ccy] }} {{ item.result_ccy }}
              </div>
              <hr>
            </li>
          </ul>
        </div>
      </div>
      <application-history></application-history>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import ApplicationHistory from './components/ApplicationHistory'

  export default {
    mounted() {
      this.$store.dispatch('fetchCurrencies')
      this.$router.push('/input')
    },

    computed: mapState(['currencies', 'history', 'SYMBOLS']),
    components: { ApplicationHistory }
  }
</script>

<style lang="stylus">
  @import "assets/styl/styles.styl"
</style>
